<h2>Genêros Cadastrados</h2>
<%= link_to 'Cadastra gênero de um filme', new_genre_path%>
<ul>
  <%Genre.all.each do |genre|%>
    <li>
      <%= link_to genre.name, genre_path(genre.id) %>
      <%= link_to 'Editar', edit_genre_path(genre.id) %>
    </li>
  <%end%>
</ul>